// Fonts
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$header-font: 'BioRhyme', serif;
$body-font: 'Space Mono', monospace;

// Colours
$light-green: #B2D2A4;
$bright-green: #32CD30;
$dark-green: #2C5E1A;
$darkest-green: #0b1b08;

// Spacing
$margin-btm: 1rem;